<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6 mb-5">
        <div class="intro mb-4">
          <h4 class="mt-0">ANZAC Day&nbsp;</h4>
        </div>
        <ul class="list-unstyled bottom-menu d-flex align-items-start flex-wrap flex-column flex-sm-row">
          <li><a href="/">Home</a></li>
          <li><a href="/about-us">About Us</a></li>
          <li><a href="/history">History</a></li>
          <li><a href="/education">Education</a></li>
          <li><a href="http://shop.anzacday.org.au/" target="_blank">Shop</a></li>
          <li><a href="/anzac-news">Latest News</a></li>
          <li><a href="/adcc-merchandise-for-schools">Schools Orders &amp; Information</a></li>
          <li><a href="/commemoration-activities">Graves &amp; Memorials Grants Program</a></li>
          <li><a href="/service-activities">ANZAC Day Services</a></li>
          <li><a href="/annual-anzac-day-ceremonies">Annual ANZAC Day Ceremonies</a></li>
          <li><a href="/just-soldiers">Just Soldiers</a></li>
          <li><a href="/speeches">Speeches</a></li>
          <li><a href="/the-spirit-of-anzac">The Spirit of Anzac</a></li>
          <li id="current-catalog"><a href="/current-catalogue">Current Catalogue</a></li>
          <li><a href="/digging">Book Support Page for Digging for Diggers</a></li>
          <li><a href="/useful-local-contacts-and-resources">Useful Local Contacts &amp; Resources</a></li>
          <li><a href="/gateway-to-hell">Gateway to Hell</a></li>
          <li><a href="/the-rising-sun-badge">The Rising Sun Badge</a></li>
          <li><a href="/photo-gallery">Photo Gallery</a></li>
          <li><a href="/download-tips">Download Tips</a></li>
          <li><a href="/awm-images">Copy of Images</a></li>
          <li><a href="contact-us">Contact Us</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/terms">Terms</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="intro mb-4">
          <h4 class="mt-0">Contact Details</h4>
        </div>
        <p>ADCC PO Box 3246 STAFFORD DC QLD 4053
          <br>21 Wolverhampton Street STAFFORD QLD 4053</p>
        <ul class="list-unstyled mt-3">
          <li>Tel.: 07 3263 7118</li>
          <li>Fax: 07 3175 0608</li>
          <li>Email:&nbsp;<a href="mailto:office.adcc@anzacday.org.au">office.adcc@anzacday.org.au</a></li>
        </ul>
        <h4>Openning Hours</h4>
        <p>Monday - Friday
          <br> 9:00 am - 4:00 pm</p>
      </div>
      <div class="col-md-6 col-lg-2 mb-5">
        <p>Gallipoli Roses Available to Purchase Here</p><a href="https://www.treloarroses.com.au/index.php?route=product/product&amp;product_id=11151&amp;search=Gallipoli" target="_blank"><img class="img-responsive" src="/img/treloar.jpg"></a>
        <p class="mt-4"><a href="https://www.facebook.com/anzacdaycommemorationcommitteeqld" target="_blank"><img src="/img/facebook.svg"></a></p>
      </div>
    </div>
  </div>
</footer>
<div id="copyright" class="py-4">
  <div class="container">
    <p class="text-white mb-0">Copyright © 2016&nbsp;<a href="mailto:Office.adcc@anzacday.org.au">ANZAC Day Commemoration Committee (Queensland)</a>&nbsp;Incorporated.</p>
  </div>
</div>
