<ul class="list-unstyled mb-0 d-flex flex-wrap" id="box-menu">
    <li class="bg-dark-brown"><a href="#"><img src="/img/online-shop-icon.png">Online Shop Including Catalogue</a></li>
    <li class="bg-light-brown"><a href="#"><img src="/img/about-ADDC.png">About the ADCC</a></li>
    <li class="bg-light-brown"><a href="#"><img src="/img/school.png">School Orders and Information</a></li>
    <li class="bg-dark-brown"><a href="#"><img src="/img/commemoration.png">Graves &amp; Memorials Grants Program</a></li>
    <li class="bg-dark-brown"><a href="#"><img src="/img/services.png">ANZAC Service Schedule and Guides</a></li>
    <li class="bg-light-brown"><a href="#"><img src="/img/spirit.png">ANZAC Traditions Facts &amp; Folklore</a></li>
</ul>