a.view-attachment {
  padding: 0.5em 1em;
  background-color: #cc9a5e;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}
.btn-link a {
  background-color: #292929;
  padding: 0.5em 1em;
  font-weight: 500;
  color: #fff;
}
