.heroMain {
  background: url(//res.cloudinary.com/dazemr1k4/image/upload/v1445928759/anzac/img/bgimg.jpg) no-repeat right center;
  background-size: cover;
  padding: 5em 0 1em 0;
  color: #fff;
  position: relative;
  overflow: hidden;
}