.breadcrumbs {
  background-color: #f8f9fa;
  padding: 10px;
}
li.bread-link {
  position: relative;
  text-transform: capitalize;
}
li.bread-link a {
  color: #555;
  font-size:15px;
}
li.bread-link::after {
  content: '/';
  padding: 0 0.5em;
}
li.bread-link:nth-last-child(1)::after {
  display: none;
}
li.bread-link:nth-last-child(1) a {
  color: #cc9a5e;
}