.nav_handle {
  border: none;
  padding: 0;
  outline: none;
  margin-bottom: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 100px;
  background-color: rgba(238, 238, 238, .5);
  line-height:0.8;
  font-size: 2.827em !important;
}

.navigation li a {
  font-family:'Roboto', sans-serif;
  text-transform:uppercase;
  font-weight:500;
  color:#fff;
  padding:5px 10px;
}

.navigation .main-nav li:last-child{
  border-left:1px solid #1d1d1d;
}

.navigation .dropdown .dropdown-menu {
  padding:0;
  border-radius: 0;
  border: none;
  -webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, .2);
  box-shadow:0px 1px 5px rgba(0, 0, 0, .2);
  width: 100%;
}

.navigation .dropdown .dropdown-item {
  padding:0;
  background:#18181d;
  
}

.navigation .dropdown .dropdown-menu a.dropdown-item:first-child {
  border:none;
}

.navigation .dropdown .dropdown-menu a.dropdown-item{
  padding:8px 10px;
}

.dropdown-menu {
 
}

.dropdown-item.dropdown.show .dropdown-toggle {
  color:#fff;
  background:#1c1d22;
}

.navigation .dropdown .dropdown-item.dropdown .dropdown-menu {
  border-left:2px solid #c68d4a;
  margin-top: 0;
}

.navigation .dropdown .dropdown-item.dropdown.show .dropdown-toggle {
  background:#c68d4a;
}

.navigation .dropdown .dropdown-item.dropdown .dropdown-menu .dropdown-item{
  background:#111115;
  white-space:normal;
}

.navigation .dropdown .legends {
  padding-left:45px;
}

.fs-navigation-overlay-nav.fs-navigation-enabled .dropdown .legends a {
  padding-left:70px;
}

.navigation .dropdown .dropdown-menu a.dropdown-item:hover {
  color:#fff; 
  background-color:#000;
  text-decoration:underline;

}

.dropdown-toggle::after {
  float:right;
  margin-top:8px;
}

.show > .dropdown-toggle::after{
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
}

.fs-navigation-overlay-nav.fs-navigation-enabled .dropdown .dropdown-menu a.dropdown-item {
  padding:8px 25px 8px 45px;
  font-size: 20px;
}

.fs-navigation-overlay-nav.fs-navigation-enabled .dropdown .dropdown-menu  {
  position:absolute !important;
  -webkit-transform: translate3d(0px, 35px, 0px) !important;
          transform: translate3d(0px, 35px, 0px) !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color:#18181d;
  padding:8px 0;
}

.fs-navigation-overlay-nav.fs-navigation-enabled .dropdown-item.dropdown .dropdown-menu {
  position:absolute !important;
  -webkit-transform: translate3d(0px, 0px, 0px) !important;
          transform: translate3d(0px, 0px, 0px) !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding:8px 0;
  background-color:#111115;
}

.fs-navigation-overlay-nav.fs-navigation-enabled .main-nav li:last-child {
  border:none;
}

.navigation .nav-brand-side {
  display:none;
  padding:30px;
  margin-bottom:10px;
}

.fs-navigation-overlay-nav.fs-navigation-enabled .main-nav li {
  clear:both;
}

.fs-navigation-overlay-nav.fs-navigation-enabled .main-nav li a {
  display:block;
  font-size: 15px;
  padding: 7px 25px 7px 45px;
  width: 100%;
}

.navigation .nav-brand-side {
  display:none;
}

.fs-navigation-overlay-nav.fs-navigation-open .nav-brand-side, .fs-navigation-push-nav.fs-navigation-open .nav-brand-side {
  display:block;
}

.fs-navigation, .fs-navigation *, .fs-navigation :after, .fs-navigation :before, .fs-navigation:after, .fs-navigation:before {
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-transition:none;
  transition:none;
  -webkit-user-select:none!important;
  -moz-user-select:none!important;
  -ms-user-select:none!important;
  user-select:none!important;
}

.fs-navigation-toggle-nav.fs-navigation-enabled {
  display:none;
}

.fs-navigation-toggle-nav.fs-navigation-open {
  display:block;
}

.fs-navigation-toggle-handle.fs-navigation-enabled {
  border:none;
  padding:0;
  width:100%;
  cursor:pointer;
  display:block;
}

.fs-navigation-overlay-nav.fs-navigation-enabled, .fs-navigation-push-nav.fs-navigation-enabled, .fs-navigation-reveal-nav.fs-navigation-enabled {
  width: 340px;
  height:100%;
  position:fixed;
  top:0;
  background: #1c1d22;
  display:block;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  padding-bottom:24px;
}

.fs-navigation-push-nav.fs-navigation-enabled, .fs-navigation-reveal-nav.fs-navigation-enabled {
  visibility:hidden;
}

.fs-navigation-reveal-nav.fs-navigation-animated {
  -webkit-transition:visibility 1ms linear .2s;
  transition:visibility 1ms linear .2s;
}

.fs-navigation-overlay-nav.fs-navigation-animated, .fs-navigation-push-nav.fs-navigation-animated {
  -webkit-transition:visibility 1ms linear .2s,-webkit-transform .2s ease;
  transition:visibility 1ms linear .2s,-webkit-transform .2s ease;
  transition:transform .2s ease,visibility 1ms linear .2s;
  transition:transform .2s ease,visibility 1ms linear .2s,-webkit-transform .2s ease;
}

.fs-navigation-push-nav.fs-navigation-enabled, .fs-navigation-reveal-nav.fs-navigation-enabled {
  z-index:0;
}

.fs-navigation-overlay-left-nav.fs-navigation-enabled, .fs-navigation-push-left-nav.fs-navigation-enabled, .fs-navigation-reveal-left-nav.fs-navigation-enabled {
  left:0;
}

.fs-navigation-overlay-right-nav.fs-navigation-enabled, .fs-navigation-push-right-nav.fs-navigation-enabled, .fs-navigation-reveal-right-nav.fs-navigation-enabled {
  right:0;
}

.fs-navigation-overlay-left-nav.fs-navigation-enabled, .fs-navigation-push-left-nav.fs-navigation-enabled {
  -webkit-transform:translate3D(-340px,0,0);
  transform:translate3D(-340px,0,0);
}

.fs-navigation-overlay-right-nav.fs-navigation-enabled, .fs-navigation-push-right-nav.fs-navigation-enabled {
  -webkit-transform:translate3D(340px,0,0);
  transform:translate3D(340px,0,0);
}

.fs-navigation-overlay-nav.fs-navigation-enabled {
  z-index:3;
}

.fs-navigation-reveal-nav.fs-navigation-open {
  visibility:visible;
  -webkit-transition:visibility 1ms ease;
  transition:visibility 1ms ease;
}

.fs-navigation-overlay-nav.fs-navigation-open, .fs-navigation-push-nav.fs-navigation-open {
  -webkit-transform:translate3D(0,0,0);
  transform:translate3D(0,0,0);
  -webkit-transition:visibility 1ms ease,-webkit-transform .2s ease;
  transition:visibility 1ms ease,-webkit-transform .2s ease;
  transition:transform .2s ease,visibility 1ms ease;
  transition:transform .2s ease,visibility 1ms ease,-webkit-transform .2s ease;
  visibility:visible;
}

.fs-navigation-overlay-handle.fs-navigation-enabled, .fs-navigation-push-handle.fs-navigation-enabled {
  border:none;
  padding:0;
  cursor:pointer;
  display:block;
}

.fs-navigation-overlay-content:before {
  width:100%;
  height:100%;
  height:calc(100% + 60px);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:2;
  background:#fff;
  background: rgba(0, 0, 0, .5);
  content:'';
  display:block;
  opacity:0;
  -webkit-transition:opacity .2s ease,visibility .2s ease;
  transition:opacity .2s ease,visibility .2s ease;
  visibility:hidden;
}

.fs-navigation-overlay-content.fs-navigation-open:before {
  opacity:1;
  visibility:visible;
}

.fs-navigation-push-content.fs-navigation-enabled, .fs-navigation-reveal-content.fs-navigation-enabled {
  position:relative;
  z-index:1;
  display:block;
  overflow:hidden;
  -webkit-transform:translate3D(0,0,0);
  transform:translate3D(0,0,0);
}

.fs-navigation-push-content.fs-navigation-animated, .fs-navigation-reveal-content.fs-navigation-animated {
  -webkit-transition:-webkit-transform .2s ease;
  transition:-webkit-transform .2s ease;
  transition:transform .2s ease;
  transition:transform .2s ease, -webkit-transform .2s ease;
  transition:transform .2s ease,-webkit-transform .2s ease;
}

.fs-navigation-push-left-content.fs-navigation-open, .fs-navigation-reveal-left-content.fs-navigation-open {
  -webkit-transform:translateX(340px);
  transform:translateX(340px);
}

.fs-navigation-push-right-content.fs-navigation-open, .fs-navigation-reveal-right-content.fs-navigation-open {
  -webkit-transform:translateX(-340px);
  transform:translateX(-340px);
}

.fs-navigation-handle.fs-navigation-enabled {
  border:none;
  padding:0;
  outline:none;
}

.fs-navigation-lock {
  overflow:hidden!important;
}

.fs-navigation-overlay-nav.fs-navigation-open .main-nav, .fs-navigation-push-nav.fs-navigation-open .main-nav {
  display:block !important;
}

@-webkit-keyframes hvr-ripple-out {
  100% {
    top:-10px;
    right:-10px;
    bottom:-10px;
    left:-10px;
    opacity:0;
  }
}

@keyframes hvr-ripple-out {
  100% {
    top:-10px;
    right:-10px;
    bottom:-10px;
    left:-10px;
    opacity:0;
  }
}

.hvr-ripple-out {
  display:inline-block;
  vertical-align:middle;
  -webkit-transform:perspective(1px) translateZ(0);
  transform:perspective(1px) translateZ(0);
  -webkit-box-shadow:0 0 1px transparent;
          box-shadow:0 0 1px transparent;
  position:relative;
}

.hvr-ripple-out:before {
  content:'';
  position:absolute;
  border:rgba(204, 154, 94, .43) solid 3px;
  border-radius:100%;
  top:0;
  right:0;
  bottom:0;
  left:0;
  -webkit-animation-duration:1s;
  animation-duration:1s;
}

.hvr-ripple-out:before, .hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name:hvr-ripple-out;
  animation-name:hvr-ripple-out;
  animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
}