@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Roboto:300,400,500,700');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css');

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font:16px/1.45 'Montserrat', sans-serif;
  font-weight:400;
  color:#555;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  word-break: break-word;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
.container {
  max-width: 1270px;
}

.py-6 {
  padding-top:3.5rem;
  padding-bottom:3.5rem;
}

.py-7 {
  padding-top:4rem;
  padding-bottom:4rem;
}

.py-8 {
  padding-top:4.5rem;
  padding-bottom:4.5rem;
}

.py-9 {
  padding-top:5rem;
  padding-bottom:5rem;
}
.w-10 {
  width: 10%;
}

.list-unstyled li {
  background: none !important;
  padding-left: 0 !important;
}

p {
  margin-bottom:1.3em;
}

a {
  color:#885f2e;
  -webkit-transition:500ms ease-in-out;
  transition:500ms ease-in-out;
}

a:hover {
  color:#a97232;
}

h1, h2, h3, h4 {
  margin:1.414em 0 0.5em;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  line-height:1.2;
  letter-spacing:-0.5px;
}

h1 {
  margin-top:0;
  font-size:3.998em;
}

h2 {
  margin-top:0;
  font-size:2.827em;
}

h3 {
  font-size:1.999em;
}

h4 {
  font-size:1.414em;
}

small, .font_small {
  font-size:0.707em;
}

.bg-dark-brown {
  background-color:#a97232;
}

.text-dark-brown {
  color:#a97232;
}

.bg-light-brown {
  background-color:#cc9a5e;
}

.text-light-brown {
  color:#cc9a5e;
}

strong {
  font-weight: 500;
}

section {
  position: relative;
}
.section {
  padding: 60px 0;
}
.sticky-wrapper {
  transform: unset !important;
}

.is-sticky {
  z-index: 1;
}

.menu {
  background-color: #ffffff;
  padding: 1rem 0;
  transition: 500ms ease-in-out;
}
.is-sticky .menu {
  padding: 0.3rem 0;
}
.is-sticky .menu {
  z-index: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.main-page ul li {
  background: url(https://res.cloudinary.com/db6xmqefe/image/upload/v1539753091/check.svg) no-repeat left 5px;
  padding-left: 1.5em;
  margin-bottom: .5em;
  list-style: none;
}
.main-page ol li {
  margin-bottom: .5em;
}
.blockquote p {
  font-size: 16px;
}
.blockquote-footer {
  background-color: transparent;
  padding: 0;
}
._submit {
  background-color: #a97232;
  color: #fff;
  padding: 15px 40px;
  text-decoration: none;
  border-radius: 100px;
  outline: none;
}
@media (max-width:1024px) {
  h1 {
    font-size:6.5vw;
  }
}
@media (max-width:991px) {
  h1 {
    font-size:6.5vw;
  }
}

@media (max-width:640px) {
  h1 {
    font-size:7vw;
  }
  h2 {
    font-size:6vw;
  }
}


@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

@media (max-width:414px) {
  h1 {
    font-size:9vw;
  }
  h2 {
    font-size:8vw;
    margin-bottom:1em;
  }
}
